body {
    background-color: black;
}

pre {
    color: white;
}

p {
    color: white;
    font-family: monospace;
}

h1 {
    color: white;
    font-family: monospace;
}

h2 {
    color: white;
    font-family: monospace;
}
